@tailwind base;
@tailwind components;
@tailwind utilities;

:root { --bg: 255 255 255; --fg: 17 17 17; }
html, body { height: 100%; }
body { color: rgb(var(--fg)); background: rgb(var(--bg)); }
* { -webkit-tap-highlight-color: transparent; }
